<div>
  <%= render partial: "shared/profile"%>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "My Post", user_path(@user), class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "My Comment", comments_user_path(@user), class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "My Collect", collects_user_path(@user), class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "My Draft", drafts_user_path(@user), class: "nav-link active"%>
  </li>
  <li class="nav-item">
    <%= link_to "My Friend", friends_user_path(@user), class: "nav-link"%>
  </li>
</ul>
<% @drafts.each do |draft|%>
<%= draft.title%>
Draft
<%= draft.updated_at%>
<%= link_to "Edit", edit_post_path(draft)%>
<%= link_to "delete", post_path(draft), method: :delete%>
<%end%>