<div>
  <%= render partial: "shared/profile"%>
</div>
<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My Post", user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Comment", comments_user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Collect", collects_user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Draft", drafts_user_path(@user), class: "nav-link active"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Friend", friends_user_path(@user), class: "nav-link"%>
    </li>
  </ul>
</div>
<table class="table table-hover">
  <tbody>
    <% @drafts.each do |draft|%>
      <tr>
        <td class="text-center"><%= link_to draft.title, edit_post_path(draft)%></td>
        <td class="text-center">Draft</td>
        <td class="text-center"><%= draft.updated_at.strftime("%F")%></td>
        <td class="text-center"><%= link_to "Edit",edit_post_path(draft), class: "fas fa-edit btn btn-primary bold"%>
        </td> 
        <td class="text-center"><%= link_to "Delete",post_path(draft), class: "fas fa-trash-alt btn btn-primary bold", method: :delete, data: { confirm: "Are You Sure？" }%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
