<div>
  <%= render partial: "shared/profile"%>
</div>
<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My Post", user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Comment", comments_user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Collect", collects_user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Draft", drafts_user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "My Friend", friends_user_path(@user), class: "nav-link active"%>
    </li>
  </ul>
</div>
<div class="col-xs-12 margin-top-20 clearfix border min-height-300 ">
  <p class="text-center margin-top-20 bold">Waiting For Response</p>
  <% @not_yet_accepted_friends.each do |user|%>
    <div class="col-xs-12 col-md-3 text-center float-left">
      <%= image_tag user.check_avatar(user), class: "profile-size"%>
      <p><%= user.name%></p>
      <p><%= user.id%></p>
    </div>
  <%end%>
</div>
<div class="col-xs-12 margin-top-20 clearfix border min-height-300">
  <p class="text-center margin-top-20 bold">Requests</p>
  <% @not_yet_responded_friends.each do |user|%>
    <div class="col-xs-12 col-md-3 text-center float-left" id="user-<%=user.id%>">
      <%= image_tag user.check_avatar(user), class: "profile-size"%>
      <p><%= user.name%></p>
      <p><%= user.id%></p>
      <%= link_to "Accept", accept_friendship_path(user_id: user.id, friend_id: current_user.id), class: "btn btn-outline-secondary margin-10", method: :post, remote: true%>
      <%= link_to "Ignore", ignore_friendship_path(user_id: user.id, friend_id: current_user.id), class: "btn btn-outline-secondary margin-10", method: :delete, remote: true%>
    </div>
  <%end%>
</div>
<div class="col-xs-12 margin-top-20 clearfix border min-height-300" id="friend">
  <p class="text-center margin-top-20 bold">Friends</p>
  <% @friends.each do |user|%>
    <div class="col-xs-12 col-md-3 float-left text-center" id="user-<%=user.id%>">
      <%= image_tag user.check_avatar(user), class: "profile-size"%>
      <p class="text-center"><%= user.name%></p>
      <p><%= user.id%></p>
    </div>
  <%end%>
</div>
