<div class="col-xs-12 clearfix">
  <div class="col-xs-12 col-sm-12 col-md-3 text-center float-left height-200">
    <%= image_tag @user.check_avatar(@user), class: "profile-size"%>
    <p><%= @user.name%></p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 float-left container-table height-200">
    <div class="container-table-cell clearfix">
      <div class=""><%= @user.introduction%>
      </div>
      <% if @user == current_user%>
        <%= link_to "Edit", edit_user_path(@user), class: "btn btn-outline-secondary float-right margin-top-20" %>
      <% else%>

        <% if current_user.friend?(@user)%>

        <% elsif current_user.not_yet_accepted_friends?(@user)%>
        
        <% elsif current_user.not_yet_responded_friends?(@user)%>

        <%else%>
          <%= link_to "Add Friend", friendships_path(friend_id: @user_id), class: "btn-outline-secondary margin-top-20 float-right", method: :post%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>

