<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user|%>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= form_for [:admin, user], url: admin_user_path(id: user.id), method: :put do |f| %>
              <%= f.select :role, ["Admin","Normal"]%>
              <%= f.submit%>
            <%end%>
          </td>
        </tr>
      <% end%>
    <tr>
  </tbody>
</table>